<general-navbar></general-navbar>
<div class="bg-primary pt-20">
  <div class="container mx-auto mt-32">
    <div class="p-6">
      <form
        [formGroup]="addUniversityRatingForm"
        class="max-w-[768px] mx-auto"
        (ngSubmit)="onSubmit()"
      >
        @for (key of keys; track $index) {
        <div class="mb-6 card">
          <div class="flex mb-6">
            <div class="text-lg">
              {{ capitalize(key) }}
            </div>
            <span class="text-red-600 leading-3 ml-1">*</span>
          </div>
          <div class="flex items-center justify-center">
            <div class="flex">
              <rate-university-field-button
                (activeCell)="onActiveButton($event, key)"
              ></rate-university-field-button>
            </div>
          </div>
        </div>
        }
        <div class="card mb-6">
          <div class="text-lg mb-4 flex">
            <div class="">Write a review</div>
            <span class="text-red-600 leading-3 ml-1">*</span>
          </div>
          <div class="mb-4 text-tertiary">
            Discuss your personal experience on this school. What's great about
            it? What could use improvement?
          </div>
          <div id="guidelines">
            <div class="bg-tertiary w-full rounded-lg px-3 py-1 mb-5">
              <button
                class="font-bold text-secondary text-xl w-full flex"
                (click)="onToggleGuidelines()"
              >
                Guidelines
              </button>
              <ul
                [ngClass]="showGuidelines ? 'show' : 'hide'"
                class="list-disc list-inside text-white"
              >
                <li>
                  Your rating could be removed if you use profanity or
                  derogatory terms.
                </li>
                <li>
                  Refer to the rating categories to help you better elaborate
                  your comments.
                </li>
                <li>Don’t forget to proof read!</li>
              </ul>
            </div>
            <div>
              <textarea
                required="true"
                name="text"
                rows="14"
                wrap="soft"
                minlength="1"
                maxlength="500"
                formControlName="description"
                class="w-full rounded-lg bg-tertiary p-5"
                placeholder="Description"
              >
              </textarea>
              <div class="w-full text-right">
                {{ getDescriptionLength() }}/500
              </div>
            </div>
          </div>
        </div>
        <div class="flex w-full justify-center">
          <button
            type="submit"
            class="button-primary px-32 py-4 flex items-center w-min"
          >
            <div>Submit</div>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
