.card-container {
  width: 100%;

  @media (min-width: 640px) {
    max-width: 640px;
  }
  @media (min-width: 900px) {
    max-width: 900px;
  }
  @media (min-width: 1280px) {
    max-width: 1280px;
  }
}

.hide {
  max-height: 0;
  transition: max-height 0.15s ease-out, margin-top 0.2s ease-out;
  margin-top: 0;
  overflow: hidden;
}

.show {
  max-height: 500px;
  margin-top: 10px;
  transition: max-height 0.45s ease-in, margin-top 0.15s ease-in;
  overflow: hidden;
}