<form [formGroup]="addUniversityRatingForm" class="max-w-[768px] mx-auto">
  @for (key of keys; track $index) {
  <div class="mb-6 card">
    <div class="mb-6 text-lg">{{ capitalize(key) }}</div>
    <div class="flex items-center justify-center">
      <div class="flex">
        <rate-university-field-button
          (activeCell)="onActiveButton($event, key)"
        ></rate-university-field-button>
      </div>
    </div>
  </div>
  }
  <div class="card">
    <div>Write a review</div>
    <div>
      Discuss your personal experience on this school. What's great about it?
      What could use improvement?
    </div>
    <div class="">
      <button class="z-10" (click)="onToggleGuidelines()">Guidelines</button>
      <div
        class="relative"
        [ngClass]="{
          'slide-bottom': showGuidelines,
          'slide-top': !showGuidelines
        }"
      >
        <div>
          testing123
          <input
            formControlName="description"
            type="text"
            placeholder="Descrtiption"
          />
        </div>
      </div>
    </div>
  </div>
</form>
