<div class="fixed w-screen border-b border-b-primary backdrop-blur-lg">
  <div class="container mx-auto">
    <nav class="flex justify-between py-5">
      <div class="flex items-center">
        <a class="text-white font-bold text-4xl" [routerLink]="['/home']"
          >RATEMYCOURSE</a
        >
      </div>
      <div>
        <form>
          <input
            class="input-primary py-2 px-5 text-base w-[400px] rounded-xl"
            placeholder="Your Course"
          />
        </form>
      </div>
      <div></div>
      <div></div>
    </nav>
  </div>
</div>
