<div class="flex mb-3">
  @for (number of numbers; track $index; let first = $first, last = $last) { @if
  (number > value) {
  <div
    class="h-[24px] w-[32px] mr-[3px] bg-slate-500"
    [ngClass]="first ? 'rounded-l-full' : last ? 'rounded-r-full' : ''"
  ></div>
  } @else {
  <div
    class="h-[24px] w-[32px] mr-[3px]"
    [ngClass]="first ? 'rounded-l-full' : last ? 'rounded-r-full' : ''"
    [ngStyle]="{
      'background-color': 'hsl(' + hue + ', 100%, 45%, 1)'
    }"
  ></div>
  } }
</div>
