@if (university$ | async; as university) {
<div class="text-tertiary text-sm">
  <p>
    {{ university.address }} {{ university.city }}, {{ university.state }}
    {{ university.zip }}
  </p>
</div>
<div class="font-extrabold text-3xl text-white">
  <p>{{ university.name }}</p>
</div>
<div class="mt-4">
  <button
    [routerLink]="['/university', university.id, 'add-rating']"
    class="button-secondary px-10 py-2"
  >
    Add Rating
  </button>
  <button [routerLink]="['courses']" class="button-secondary px-10 py-2 ml-4">
    View Courses
  </button>
</div>
}
