<general-navbar></general-navbar>
<div>
  <div class="shadow-md p-6">
    <div class="details-container mx-auto">
      <div class="mb-4">
        <university-details></university-details>
      </div>
      <div>
        <add-university-rating [universityId]="id"></add-university-rating>
      </div>
    </div>
  </div>
  <div class="ratings-container mx-auto">
    <div class="p-6 h-[500px]">
      <university-chart></university-chart>
    </div>
    <div class="p-6">
      <university-rating-card></university-rating-card>
    </div>
  </div>
</div>
