<div class="fixed w-screen border-b-primary border-b backdrop-blur">
  <div class="container mx-auto">
    <nav class="flex justify-between py-5">
      <div class="flex items-center">
        <p class="font-bold text-4xl text-white">RATEMYCOURSE</p>
      </div>
      <div class="flex">
        <button class="button-primary" routerLink="/login">Log In</button>
        <button class="button-primary ml-3" routerLink="/signup">
          Sign Up
        </button>
      </div>
    </nav>
  </div>
</div>
