<div class="mx-20" (mouseleave)="onLeave()">
  @for (number of numbers; track $index; let first = $first, last = $last) {
  <button
    type="button"
    class="h-[40px] w-[60px] mx-[2px] border-slate-800 transition hover:scale-110"
    [ngClass]="[
      first ? 'rounded-l-full' : last ? 'rounded-r-full' : '',
      number > ratingButton.cellHovered ? ' bg-slate-500' : ''
    ]"
    [ngStyle]="
      ratingButton.cellHovered >= number ||
      (ratingButton.cellHovered === 0 && ratingButton.cellActive >= number)
        ? {
            'background-color':
              'hsl(' + getHue() + ', 100%,' + ratingButton.saturation + '%, 1)'
          }
        : {}
    "
    (click)="update(number)"
    (mouseenter)="onEnter($index)"
  ></button>

  }
</div>
@if (ratingButton.cellHovered === 0) {
<div class="flex justify-between text-tertiary">
  <div>1 - Awful</div>
  <div>5 - Awesome</div>
</div>
} @else {
<div class="flex justify-center text-tertiary">
  {{ ratingButton.cellHovered }} - {{ headers[ratingButton.cellHovered - 1] }}
</div>
}
