@if (ratings$ | async; as ratings) { @for (rating of ratings; track $index) {
<div class="bg-slate-100 mb-6 rounded-xl font-[arial]">
  <div class="p-6">
    <div class="grid grid-cols-[1.5fr_8.5fr] gap-4">
      <div class="flex flex-col items-center">
        <div class="font-bold mb-3">Overall</div>
        <div
          class="poppins-black text-3xl h-[72px] w-[72px] flex items-center justify-center rounded-lg"
          [ngStyle]="{
            'background-color':
              'hsl(' + averageColor(rating) + ', 100%, 70%, 1)'
          }"
        >
          {{ average(rating) }}
        </div>
      </div>
      <div class="p-4 pt-0 flex flex-col">
        <div class="text-right font-bold mb-3 text-sm">
          {{ rating.date | dateFormat }}
        </div>
        <div class="mb-4">{{ rating.description }}</div>
        <div class="grid grid-cols-2 gap-4 font-bold">
          <div class="grid grid-cols-[40%_60%]">
            <div>
              <div class="mb-3">Quality</div>
              <div class="mb-3">Location</div>
              <div class="mb-3">Opportunities</div>
              <div class="mb-3">Facilities</div>
              <div class="mb-3">Internet</div>
            </div>
            <div>
              <rating-bar [value]="rating.quality"></rating-bar>
              <rating-bar [value]="rating.location"></rating-bar>
              <rating-bar [value]="rating.opportunities"></rating-bar>
              <rating-bar [value]="rating.facilities"></rating-bar>
              <rating-bar [value]="rating.internet"></rating-bar>
            </div>
          </div>
          <div class="grid grid-cols-[40%_60%]">
            <div>
              <div class="mb-3">Food</div>
              <div class="mb-3">Clubs</div>
              <div class="mb-3">Social</div>
              <div class="mb-3">Happiness</div>
              <div class="mb-3">Safety</div>
            </div>
            <div>
              <rating-bar [value]="rating.food"></rating-bar>
              <rating-bar [value]="rating.clubs"></rating-bar>
              <rating-bar [value]="rating.social"></rating-bar>
              <rating-bar [value]="rating.facilities"></rating-bar>
              <rating-bar [value]="rating.safety"></rating-bar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
} }
